@using AutoServiceManager.Web.Areas.Reception.Models
@model IEnumerable<CarOrdersReportViewModel>
<table id="carOrdersReportTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>CarOrder Id</th>
            <th>CarOrder Date</th>
            <th>CarOrder Data</th>
            <th>CarOrder Description</th>
            <th>User Mail</th>
            <th>User FullName</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var carOrdersReport in Model)
        {
            <tr>
                <td>
                    @carOrdersReport.CarOrderId
                </td>
                <td>
                    @carOrdersReport.CarOrderDate
                </td>
                <td>
                    @carOrdersReport.CarData
                </td>
                <td>
                    @carOrdersReport.CarOrderDescription
                </td>
                <td>
                    @carOrdersReport.UserEmail
                </td>
                <td>
                    @carOrdersReport.UserFullName
                </td>
                
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#carOrdersReportTable").DataTable();
    });
</script>